@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


p{
    text-align: justify;
    font-style: italic;
    text-transform: lowercase;
    font-weight: 100;
    font-family: "Sour Gummy", sans-serif;

}
